@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>


    <link rel="stylesheet" href="~/Content/Contact/plugins/fontawesome-free/css/all.min.css">



    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


    <link rel="stylesheet" href="~/Content/Contact/plugins/icheck-bootstrap/icheck-bootstrap.min.css">



    <link rel="stylesheet" href="~/Content/Contact/Css/adminlte.min.css">



    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>



<section class="content">

    <div class="row">

        @await Component.InvokeAsync("ContactNoti")

        <div class="col-md-9">

            <div class="card card-primary card-outline">

                <div class="card-header">

                    <h3 class="card-title">Inbox</h3>

                    <div class="card-tools">

                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control" placeholder="Search Mail">

                            <div class="input-group-append">

                                <div class="btn btn-primary">

                                    <i class="fas fa-search"></i>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- /.card-tools -->

                </div>

                <!-- /.card-header -->

                <div class="card-body p-0">

                    <div class="mailbox-controls">

                        <!-- Check all button -->

                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">

                            <i class="far fa-square"></i>

                        </button>

                        <div class="btn-group">

                            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>

                            <button type="button" class="btn btn-default btn-sm"> <i class="far fa-file-alt"></i></button>

                            <button type="button" class="btn btn-default btn-sm"> <i class="fas fa-filter"></i></button>

                        </div>

                        <!-- /.btn-group -->

                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-circle text-danger"></i></button>

                        <div class="float-right">

                            1-50/200

                            <div class="btn-group">

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>

                            </div>

                            <!-- /.btn-group -->

                        </div>

                        <!-- /.float-right -->

                    </div>

                    <div class="table-responsive mailbox-messages">

                        <table class="table table-hover table-striped">

                            <tbody id="cbody">
                            </tbody>

                        </table>

                        <!-- /.table -->

                    </div>

                    <!-- /.mail-box-messages -->

                </div>

                <!-- /.card-body -->

                <div class="card-footer p-0">

                    <div class="mailbox-controls">

                        <!-- Check all button -->

                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">

                            <i class="far fa-square"></i>

                        </button>

                        <div class="btn-group">

                            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>

                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>

                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>

                        </div>

                        <!-- /.btn-group -->

                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>

                        <div class="float-right">

                            1-50/200

                            <div class="btn-group">

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>

                            </div>

                            <!-- /.btn-group -->

                        </div>

                        <!-- /.float-right -->

                    </div>

                </div>

            </div>

            <!-- /.card -->

        </div>

        <!-- /.col -->

    </div>

    <!-- /.row -->

</section>

<script src="~/Content/Contact/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/Content/Contact/js/adminlte.min.js"></script>
<script src="~/Content/Contact/js/demos.js"></script>

<script>

    function PostDelete(id, name, mail, subject, date, message) {
        var k = {
            Id: id,
            Name: name,
            Message: message,
            Mail: mail,
            Subject: subject,
            Process: false,
            Deleted: true,
            Date: date
        };

        postData("Contact/SendMessage", k, (response) => {
            getMessages();
        });
    }


    function PostArchive(id, name, mail, subject, date, message) {
        var k = {
            Id: id,
            Name: name,
            Message: message,
            Mail: mail,
            Subject: subject,
            Process: false,
            Archive: true,
            Date: date
        };

        postData("Contact/SendMessage", k, (response) => {
            getMessages();
        });
    }


    function PostSpam(id, name, mail, subject, date, message) {
        var k = {
            Id: id,
            Name: name,
            Message: message,
            Mail: mail,
            Subject: subject,
            Process: false,
            Spam: true,
            Date: date
        };

        postData("Contact/SendMessage", k, (response) => {
            getMessages();
        });
    }


    function PostImportant(id, name, mail, subject, date, message) {
        var k = {
            Id: id,
            Name: name,
            Message: message,
            Mail: mail,
            Subject: subject,
            Process: false,
            Important: true,
            Date: date
        };

        postData("Contact/SendMessage", k, (response) => {
            getMessages();
        });
    }



    function getMessages() {
        fetchData("Contact/ComeIn", function (response) {

            console.log("messages", response)
            var c = $("#cbody");
            c.empty();

            $.each(response, function (index, res) {
                var k = `            <tr>
                                                                        <td>
                                                                            <div class="icheck-primary">
                                                                                        <input type="checkbox" value="${res.process}" id="check15">
                                                                                <label for="check15"></label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                                                        <td class="mailbox-name"><a href="/Admin/Contact/ReadMessage/${res.id}">${res.name}</a></td>
                                                                        <td class="mailbox-subject">
                                                                                            <b>Konu: ${res.subject}</b> <br/> <br/> <p> <p>${res.message}</p>
                                                                        </td>
                                                                        <td>
                                                                                            <i type="button"
                                                         onClick="PostDelete('${res.id}',
                                                                            '${res.name}',
                                                                            '${res.mail}',
                                                                            '${res.subject}',
                                                                            '${res.message}',
                                                                            '${res.date}')"
                                                                            class="far fa-trash-alt"></i>
                                                                                            <i type="button"
                                                         onClick="PostArchive('${res.id}',
                                                                                    '${res.name}',
                                                                                    '${res.mail}',
                                                                                    '${res.subject}',
                                                                                    '${res.message}',
                                                                                    '${res.date}'
                                                                                    )"
                                                                                    class="far fa-file-alt mx-2"></i>
                                                                                            <i type="button"
                                                        onClick="PostSpam('${res.id}',
                                                                          '${res.name}',
                                                                          '${res.mail}',
                                                                          '${res.subject}',
                                                                          '${res.message}',
                                                                          '${res.date}')"
                                                                          class="fas fa-filter"></i>
                                                                                                    <i type="button"
                                                        onClick="PostImportant('${res.id}',
                                                                               '${res.name}',
                                                                               '${res.mail}',
                                                                               '${res.subject}',
                                                                               '${res.message}',
                                                                               '${res.date}')"
                                                                               class="far fa-circle text-danger ml-4"></i>
                                                                        </td>
                                                                        <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                                                                                <td class="mailbox-date">${res.date}</td>
                                                                    </tr>
                                            `

                c.append(k);
            })

        })
    }

    $(document).ready(function(){
        getMessages();

    })

 

    $(function () {

        //Enable check and uncheck all functionality

        $('.checkbox-toggle').click(function () {

            var clicks = $(this).data('clicks')

            if (clicks) {

                //Uncheck all checkboxes

                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)

                $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')

            } else {

                //Check all checkboxes

                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)

                $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')

            }

            $(this).data('clicks', !clicks)

        })



        //Handle starring for glyphicon and font awesome

        $('.mailbox-star').click(function (e) {

            e.preventDefault()

            //detect type

            var $this = $(this).find('a > i')

            var glyph = $this.hasClass('glyphicon')

            var fa = $this.hasClass('fa')



            //Switch states

            if (glyph) {

                $this.toggleClass('glyphicon-star')

                $this.toggleClass('glyphicon-star-empty')

            }



            if (fa) {

                $this.toggleClass('fa-star')

                $this.toggleClass('fa-star-o')

            }

        })

    })

</script>
