@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                 style="background-image: url('https://cdn.pixabay.com/photo/2017/07/17/18/13/wheat-2513272_1280.jpg');
background-size: cover;" loading="lazy"></div>
        </div>
        @using (Html.BeginForm("SendMessage", "Home"))
        {  @if (ViewBag.ContactSuccess != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.ContactSuccess
                </div>
            }
            <div class="container col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                            <h3 class="text-white mb-0">İletişime Geç</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="pb-3">
                        </p>
                        <form id="contact-form" autocomplete="off">
                            <div class="card-body p-0 my-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class=" input-group-static mb-4">
                                            <label>Ad Soyad</label>
                                            <input type="text" class="form-control" name="Name">
                                        </div>
                                        <input type="hidden" value="0" name="Id"/>
                                    </div>
                                    <div class="col-md-6 ps-md-2">
                                        <div class="input-group-static mb-4">
                                            <label>Email</label>
                                            <input type="Email" class="form-control" name="Mail" placeholder="hello@gmail.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0 mt-md-0 mt-4">
                                    <div class="input-group input-group-static mb-4">
                                        <label>Konu</label>
                                        <input name="Subject" class="form-control" id="subject" rows="6" placeholder="Lütfen Konu Belirtiniz..." />
                                    </div>
                                </div>
                                <div class="form-group mb-0 mt-md-0 mt-4">
                                    <div class="input-group input-group-static mb-4">
                                        <label>Size Nasıl Yardımcı olabiliriz?</label>
                                        <textarea name="Message" class="form-control" id="message" rows="6" placeholder="Mesajınızı Buraya Yazınız..."></textarea>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.ContactError))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.ContactError
                                    </div>
                                }
                              
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Mesajı Gönder</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>
</div>