
@{
    ViewData["Title"] = "How";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>Neler Yapıyoruz</h1>

    <h2>   Fiyat İstikrarı Sağlama:</h2>
    <p>
        Tahıl borsaları, arz ve talep dengesini gözeterek ürün fiyatlarını dengeleme rolü üstlenir. Bu sayede üreticiler ve tüketiciler,
        dalgalanan fiyatlara karşı daha güvende hissederler.
    </p> 
    <h2>   Risk Yönetimi:</h2>

    <p>
        Vadeli işlemler piyasaları aracılığıyla üreticiler ve tüccarlar, gelecekteki tahıl fiyatlarına karşı korunma sağlayabilirler.
        Bu, piyasa belirsizliğinden kaynaklanan riskleri minimize etme imkanı sunar.
    </p>

    <h2>   Piyasa Bilgileri Sağlama:</h2>
    <p>
        Tahıl borsaları, tarım ürünleri ile ilgili güncel bilgileri ve piyasa trendlerini paylaşarak taraflara değerli bilgiler sunar.
        Bu bilgiler, alım satım stratejilerinin oluşturulmasında yardımcı olur.
    </p>

    <h2>
           Fiyat Keşfi:
    </h2>
    <p>
        Tahıl borsaları, alıcı ve satıcıları bir araya getirerek adil bir fiyat keşfi sağlar.
        Bu, taraflar arasında adil ve şeffaf bir ticaretin gerçekleşmesini sağlar.
    </p>
</body>
