@{
    ViewData["Title"] = "Home Page";
}
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d5534d95/corum/" data-label_1="ÇORUM" data-label_2="WEATHER" data-theme="mountains">ÇORUM WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<div class="col-lg-6 col-md-7 d-flex d-block justify-content-center flex-column m-auto mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading bg-gradient p-2 text-center">
                    <h2 style="color:black"><i class="fa fa-calendar info"></i> Günlük Fiyat Bilgileri</h2>

                    <div class="form-group">

                        <label style="color:white" for="selectedDate">Tarih Seçin:</label>
                        <input style="color:black; background-color:antiquewhite" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" name="selectedDate" id="selectedDate" class="form-control" />
                    </div>
                    <button id="getBulletinButton" type="submit" class="btn btn-primary mt-1 m-auto">Bülten Bilgilerini Getir</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="col" class="row row-cols-1 row-cols-md-4 g-3">
       
    </div>
</div>

<script src="~/js/home/index.js"></script>