
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
        <h1 class="text-white mb-4">Material Kit</h1>
        <p class="text-white opacity-8 lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
        <div class="buttons">
            <button type="button" class="btn btn-white mt-4">Get Started</button>
            <button type="button" class="btn text-white shadow-none mt-4">Read more</button>
        </div>
    </div>
</div>
