
@{
    ViewData["Title"] = "AddTradesman";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-control container mt-5" method="post">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Esnaf Bilgilerini Ekle</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 pr-1">
                        <div class="form-group">
                            <label>TC Kimlik No</label>
                            <input type="text" class="form-control" name="IdentityNo" placeholder="Kimlik Numarası" />
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>Doğum Tarihi</label>
                            <input type="date" class="form-control" name="Birthdate" placeholder="Doğum Tarihi" />
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label for="Tel">Telefon</label>
                            <input type="text" class="form-control" name="Contact" placeholder="Telefon" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Adı</label>
                            <input type="text" class="form-control" name="FirstName" placeholder="Ad" />
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Soyadı</label>
                            <input type="text" class="form-control" name="LastName" placeholder="Soyad" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Adres</label>
                            <input type="text" class="form-control" name="tblAddress.FullAddress" placeholder="Adres" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Şehir</label>
                            <select class="form-control" name="tblAddress.tblDistrict.tblCity.Id">
                                <option value="" disabled selected>Şehir Seçin</option>
                                <!-- Şehir seçeneklerini buraya ekleyin -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>İlçe</label>
                            <select class="form-control" name="tblAddress.tblDistrict.Id">
                                <option value="" disabled selected>İlçe Seçin</option>
                                <!-- İlçe seçeneklerini buraya ekleyin -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Mahalle/Köy</label>
                            <input type="text" class="form-control" name="tblAddress.NeighborhoodName" placeholder="Mahalle/Köy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-round">Esnaf Bilgilerini Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Kaydet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Esnaf Bilgileri Kaydetmek İstiyor musunuz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>
