@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group container" method="post">


    <div>
        <label>Ürün Adı</label>
        <input class="form-control" type="text" id="productName" name="Name" />
    </div>
    <div>
        <label>Ürün Fotograf Url</label>
        <input class="form-control" type="text" id="productPhoto" />
    </div>
    <div>
        <label>Ürün Ait Bilgi</label>
        <textarea class="form-control" type="text" id="productInformation" name="Information">
        </textarea>
    </div>
    <div class="mt-1">
        <button type="submit" class="btn btn-outline-success" id="btn">Yeni Ürün Ekle</button>
    </div>

</form>

<script>
    function postProduct() {

        var pro = {
            Id: 0,
            Name: $("#pruductName").val(),
            Information: $("#productInformation").val(),
            Photo: $("#productPhoto").val()
        };

        var jsonPro = JSON.stringify(pro);

        postData("Product/UrunEkle", jsonPro, function (response) {
            if (response.success) {
                console.log("Ürün eklendi:", response.data);
            } else {
                console.log("Product ekleme hatası", response.message);
            }
        });
    }

    $(document).ready(function () {
        $("#btn").click(function () {
            postProduct();
        });
    })
</script>