@{
    ViewData["Title"] = "CallProduct";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
{
    <div class="form form-control container">

        <h1>Ürün Güncelle</h1>
        <br />
        <label>Ürün Id</label>
        <input id="ProductId" class="form-control" />
        <label>Ürün Adı</label>
        <input id="ProductName" class="form-control" />
        <label>Ürün Bilgisi</label>
        <input id="ProductInformation" class="form-control" />
        <button class="btn my-3 btn-warning">Ürünü Güncelle</button>
    </div>
}
