@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <h2>Borsamızda İşlem Gören Ürünler</h2>
    <br />
    <div class="row row-cols-1 row-cols-md-2 g-4" id="productList">
    </div>
    <button onclick="NewProduct()" class="btn btn-primary">Yeni Ürün Ekle</button>
    <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Rol Bilgileri</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="form form-control container mt-5">
                        <h1>Ürün Bilgilerini Güncelle</h1>
                        <br />
                        <div class="row">
                            <div class="col-6">
                                <label>Ürün Kayıt No</label>
                                <input type="text" readonly id="Id" name="Id" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label>Adı</label>
                                <input type="text" id="Name" name="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Hakkında Bilgi</label>
                                <textarea class="form-control" id="Information" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Fotograf Linki</label>
                                    <input type="text" id="Photo" class="form-control" />
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Kat Sayı</label>
                                    <input type="text" id="Factor" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" onclick="AddProduct()">Kaydet</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/admin/product.js"></script>