@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <h2>Borsamızda İşlem Gören Ürünler</h2>
    <br />
    <div class="row row-cols-1 row-cols-md-2 g-4" id="productList">
    </div>
    <button onclick="NewProduct()" class="btn btn-primary">Yeni Ürün Ekle</button>
    <div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Rol Bilgileri</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="form form-control container mt-5">
                        <h1>Ürün Bilgilerini Güncelle</h1>
                        <br />
                        <div class="row">
                            <div class="col-6">
                                <label>Ürün Kayıt No</label>
                                <input type="text" readonly id="Id" name="Id" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label>Adı</label>
                                <input type="text" id="Name" name="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Hakkında Bilgi</label>
                                <textarea class="form-control" id="Information" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Fotograf Linki</label>
                                    <input type="text" id="Photo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" onclick="AddProduct()">Kaydet</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>


    function getProduct() {

        var productList = $("#productList");

        fetchData("Product/TumUrunler", function (response) {

            console.log("ürünler res", response)

            productList.empty();

            $.each(response, function (index, product) {
                var card = `
                                                              <div class="card mb-3 col-md-6 col-sm-12">
                                                                  <img src="${product.photo}" class="card-img-top" alt="...">
                                                                  <div class="card-body">
                                                                      <h5 class="card-title">${product.name}</h5>
                                                                      <p class="card-text">${product.information}</p>
                                                                  </div>
                                                                  <p class="card-text"><small class="text-muted">İşlem Numarası: ${product.id}</small></p>
                                                                  <div class="btn-group m-1">
                                                                      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-${product.id}" class="btn btn-danger btn-round">Sil</button>
                                                                      <button onClick="EditProduct(
                                                                           '${product.id}',
                                                                           '${product.name}',
                                                                           '${product.information}',
                                                                           '${product.photo}'
                                                                      )" class="btn btn-outline-success btn-round">Güncelle</button>
                                                                  </div>
                                                              </div>
                                                              <div class="modal fade" id="exampleModal-${product.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                  <div class="modal-dialog">
                                                                      <div class="modal-content">
                                                                          <div class="modal-header">
                                                                              <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-body">
                                                                              Ürün Kaydını Silmek İstiyor musunuz ?
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                              <button type="button" onClick="" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                                                                      <button onClick="DeleteProduct(${product.id})" data-product-id="${product.id}" class="btn btn-outline-danger">Sil</button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                        `;
                productList.append(card);
            });
        });
    }

    let selectedProductId = 0;

    function NewProduct() {

        $("#Name").val("");
        $('#Information').val("");
        $('#Photo').val("");

        $("#rolModal").modal("show");
    }

    function AddProduct() {
        var p = {
            Id: selectedProductId,
            Name: $('#Name').val(),
            Information: $("#Information").val(),
            Photo: $('#Photo').val(),

        };
        postData("Product/UrunEkle", p, (data) => {
            getProduct();
            $("#rolModal").modal("hide");

        });

    }

    function DeleteProduct(id) {

        deleteData(`Product/${id}`, (model) => {

            $("#exampleModal").modal("hide");
            $(".modal-backdrop").remove();
            getProduct();
        });

    }


    //Edit kısmı
    function EditProduct(id, name, information, photo) {
        $("#rolModal").modal("show");
        selectedProductId = id;
        console.log("Edit Kısmı product Id", id);
        $('#Information').val(information);
        $('#Id').val(id);
        $("#Name").val(name);
        $('#Photo').val(photo);

    }



    $(document).ready(function () {
        getProduct();
    });

</script>