
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container mt-5 justify-content-center align-items-center">

    <h2>Çiftçi Paneli</h2>

    <div class="row">
        @*Arama işlem penceresi*@
        @using (Html.BeginForm("Index", "Farmer", FormMethod.Get))
        {
            <div class="form-control input-group row align-items-center">
                <div class="col-md-4">  @Html.TextBox("f", null, new { @class = "form-control", placeholder = "Çiftçi Ara" })</div>
                <div class="col-md-2"><button class="btn btn-outline-primary">Ara</button></div>
            </div>
        }
        <table id="FarmerTable" class="table table-bordered table-striped">
            <tr class="table-info">
                <th>Kayıt No</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Kimlik No</th>
                <th>Doğum Tarihi</th>
                <th>İletişim</th>
                <th>Şehir</th>
                <th>İlçe</th>
                <th>Mahalle/Köy</th>
                <th>Adres</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>

            <tbody>
            </tbody>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Çiftçi Kaydını Silmek İstiyor musunuz ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                            <a class="btn btn-danger" href="~/Farmer/DeleteFarmer/">Sil</a>
                        </div>
                    </div>
                </div>
            </div>

        </table>
    </div>
    <div class="d-flex justify-content-center pagination">
        @*  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
        LiElementClasses = new[] { "page-link btn " },
        UlElementClasses = new[] { "page-item d-flex" }
        })*@
    </div>
    <a href="~/Farmer/AddFarmer" class="btn btn-primary">Yeni Kayıt Ekle</a>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://localhost:7234/api/Farmer/TumCiftciler",
            type: "GET",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    var tbody = $("#FarmerTable tbody");

                    $.each(response.data, function (index, farmer) {
                        var row = $("<tr>");
                        row.append($("<td>").text(farmer.id));
                        row.append($("<td>").text(farmer.firstName));
                        row.append($("<td>").text(farmer.lastName));
                        row.append($("<td>").text(farmer.identityNo));
                        row.append($("<td>").text(farmer.birthDate ? new Date(farmer.birthDate).toLocaleDateString() : ""));
                        row.append($("<td>").text(farmer.contact));
                        row.append($("<td>").text(farmer.tblAddress.tblCityName));
                        row.append($("<td>").text(farmer.tblAddress.tblDistrictName));
                        row.append($("<td>").text(farmer.tblAddress.neighborhood));
                        row.append($("<td>").text(farmer.tblAddress.fullAddress));
                        row.append($("<td>").html(`<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Sil</button>`));
                        row.append($("<td>").html(`<a class="btn btn-success" href="~/Farmer/CallFarmer/${farmer.id}">Güncelle</a>`));

                        tbody.append(row);
                    });
                }else{
                    alert(response.message)
                }
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error:", textStatus, errorThrown);
            }
        });
    });
</script>

 