@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <h2>Kullanıcı Paneli</h2>
        <div class="alert alert-success" id="successAlert" role="alert" style="display: none;">
            Kullanıcı başarıyla eklendi.
        </div>
        <div class="alert alert-danger" id="deleteAlert" role="alert" style="display: none;">
            Kullanıcı başarıyla silindi.
        </div>
        <table id="User" class="table table-bordered table-striped">
            <tr class="table-info">
                <th>Adı Soyadı</th>
                <th>Kullanıcı Adı</th>
                <th>Şifre</th>
                <th>Rol Id</th>
                <th>Rol Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>

            <tbody id="tableBody">
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Sil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Kullanıcı Kaydını Silmek İstiyor musunuz ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                        <button class="btn btn-danger" onclick="DeleteUser()">Sil</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="d-flex justify-content-center pagination" id="paginationContainer">
        <!-- Sayfalama bağlantıları buraya eklenecek -->
    </div>
        <button onclick="NewUser()" class="btn btn-primary">Yeni Kullanıcı Kaydı Oluştur</button>
    </div>
</div>

<div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kullanıcı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="form form-control container mt-5">
                    <h1>Kullanıcı Kaydet</h1>
                    <br />
                    <div class="row form-group">
                        <div class="col-md-4 ">
                            <label>Kullanıcı Kayıt No</label>
                            <input type="text" id="UserId" readonly name="Name" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Adı</label>
                            <input type="text" id="FirstName" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Soyadı</label>
                            <input type="text" id="LastName" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-6">
                            <label>Kullanıcı Adı</label>
                            <input type="text" id="Username" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Şifre</label>
                            <input type="text" id="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>Rol</label>
                            <select class="form-control" id="Rol">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="AddUser()">Kaydet</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/admin/user.js"></script>