@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="content container-fluid">
    <div id="row" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Toplam Miktar</p>
                                <p id="totalQuantity" class="card-title"><p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i onclick="getTotalAction()" class="fa fa-refresh"></i>
                        Güncel
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Toplam Hacim</p>
                                <p id="totalAmount" class="card-title"><p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i onclick="getTotalAction()" class="fa fa-calendar-o"></i>
                        Mevcut Yıl
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-vector text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Gerçekleşen Satış Sayısı</p>
                                <p id="totalSale" class="card-title"><p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i onclick="getTotalAction()" class="fa fa-clock-o"></i>
                        Mevcut Yıl
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-favourite-28 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Toplam Esnaf</p>
                                <p id="totalTradesman" class="card-title"><p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i>
                        Güncel
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-favourite-28 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Toplam Çiftçi</p>
                                <p id="totalFarmer" class="card-title"><p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i onclick="getTotalAction()" class="fa fa-refresh"></i>
                        Güncel
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Borsa İşlem Hacim Grafiği</h5>
                    <p class="card-category">Milyon ₺</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartHours" width="400" height="100"></canvas>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        <i class="fa fa-circle ms-2 text-success"></i> Tüm Ürünler

                    </div>
                    <hr>
                    <div class="stats">
                        <i onclick="getAmountChart()" class="fa fa-history"></i> Güncelle
                    </div>
                </div>
            </div>
        </div
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">İşlem Gören Ürün Miktar Grafiği</h5>
                    <p class="card-category">Toplam Miktar Bin Ton</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartEmail"></canvas>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Nohut
                        <i class="fa fa-circle text-warning"></i> Arpa
                        <i class="fa fa-circle text-primary"></i> Ay Çiçeği
                        <i class="fa fa-circle text-success"></i> Buğday
                        <i class="fa fa-circle text-dark"></i> K.Mercimek
                        <i class="fa fa-circle text-danger"></i>Yulaf
                        <i class="fa fa-circle text-secondary ms-2"></i>Mısır
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title">Ürün Fiyat Grafiği</h5>
                    <p class="card-category">kg/₺</p>
                </div>
                <div class="card-body">
                  @*  <canvas id="speedChart" ></canvas>*@
                  <canvas id="priceChart" width="400" height="250"></canvas>
                </div>
                <div class="card-footer">
                    <div class="chart-legend">
                    </div>
                    <hr />
                    <div class="card-stats">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Toplam Satış, esnaf vb. yapıları tuttuk.
    function getTotalAction() {

        fetchData("Sale/Total", function (response) {

        console.log("panel sale", response )

        var  totalQuantity = response.totalQuantity;
        var  totalAmount = response.totalAmount;
        var  totalTradesman = response.totalTradesman;
        var  totalSale = response.totalSale;
        var  totalFarmer = response.totalFarmer;



        $("#totalSale").text(totalSale);
        $("#totalQuantity").text(totalQuantity + "Kg");
        $("#totalAmount").text("₺"+ totalAmount);
        $("#totalTradesman").text(totalTradesman);
        $("#totalSale").text(totalSale);
        $("#totalFarmer").text(totalFarmer);

        });
    }

    //Ürüne göre grupladıgımız toplam değerleri tuttuk.
    function getQuantityByProduct(){
         var products = [];
        var quantities = [];
        
        console.log("pie", quantities)
        const tbody = $("#row")
        fetchData("Sale/ProTotal", function (response) {

            console.log("prototal", response)
        
            $.each(response, function (index, t) {
                    products.push(t.product);
                    quantities.push(t.quantity);
            var row = `
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-globe text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">${t.product} Miktarı</p>
                                        <p id="totalQuantity" class="card-title">${t.quantity} Kg<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i onclick="getTotalAction()" class="fa fa-refresh"></i>
                                Güncel
                            </div>
                        </div>
                    </div>
                </div>
            
            `

            tbody.append(row);
            });

              createPieChart(products, quantities);

        });
    }
    
    //Aylara göre grupladıgımız toplam hacim miktarınını tuttuk
    function getAmountChart(){

        var labels = [];
        var chartData = [];
        console.log("data", chartData)
        //asenkron işlem oldugu için callback fonksiyon kullanarak önce chart verileri dolduk sonra Createchart js 'i cagırdık
        fetchData("Sale/AmountChart", function (response){
             
                console.log("amountchart",response)

                for (var key in response) 
                {
                    labels.push("Month " + key);
                    chartData.push(parseInt(response[key]));
                }
        createAmountChart(chartData);

        });
        

      
    }
    //Fiyatları aylara ve ürünlere göre gruplayıp fiyat grafiği tasarladık
    function getPriceChart(){

            fetchData("Sale/PriceChart", function (response){
             
            console.log("Price",response)



            const products = [...new Set(response.map(item => item.productName))];

                const datasets = products.map(product => {
                    const productData = response.filter(item => item.productName === product);
                    const data = Array.from({ length: 12 }, (_, monthIndex) => {
                        const matchingEntry = productData.find(item => item.month === monthIndex + 1);
                        return matchingEntry ? matchingEntry.actualPrice : 0;
                    });
                    return {
                        label: product,
                        data: data,
                        borderColor: getRandomColor(),
                        fill: false
                    };
                });

                const ctx = document.getElementById('priceChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Agu", "Eyl", "Eki", "Kas", "Ara"],
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });


            });


    }

    //fiyat grafiğine rastgele renk atama
    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    //İşlemler asenkron oldugundan callback fonksiyon kullanarak aşagıda ki  fonksiyonları kullandık
    function createAmountChart(chartData){
                
        chartColor = "#FFFFFF";

        ctx = document.getElementById('chartHours').getContext("2d");


        myChart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                    borderColor: "#6bd098",
                    backgroundColor: "#6bd098",
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    borderWidth: 3,
                    data:chartData
                }
                ]
            },
            options: {
                legend: {
                    display: false
                },

                tooltips: {
                    enabled: false
                },

                scales: {
                    yAxes: [{

                        ticks: {
                            fontColor: "#9f9f9f",
                            beginAtZero: false,
                            maxTicksLimit: 5,
                            //padding: 20
                        },
                        gridLines: {
                            drawBorder: false,
                            zeroLineColor: "#ccc",
                            color: 'rgba(255,255,255,0.05)'
                        }

                    }],

                    xAxes: [{
                        barPercentage: 1.6,
                        gridLines: {
                            drawBorder: false,
                            color: 'rgba(255,255,255,0.1)',
                            zeroLineColor: "transparent",
                            display: false,
                        },
                        ticks: {
                            padding: 20,
                            fontColor: "#9f9f9f"
                        }
                    }]
                },
            }
        });
    }

    function createPieChart(product, quantities){
         ctx = document.getElementById('chartEmail').getContext("2d");

        myChart2 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: product,
                datasets: [{
                    label: "Emails",
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    backgroundColor: [
                        '#e3e3e3',
                        '#4acccd',
                        '#fcc468',
                        '#ef8157',
                        '#343a40',
                        '#007bff',
                        '#28a745'
                    ],
                    borderWidth: 0,
                    data: quantities
                }]
            },

            options: {

                legend: {
                    display: false
                },

                pieceLabel: {
                    render: 'percentage',
                    fontColor: ['white'],
                    precision: 2
                },

                tooltips: {
                    enabled: false
                },

                scales: {
                    yAxes: [{

                        ticks: {
                            display: false
                        },
                        gridLines: {
                            drawBorder: false,
                            zeroLineColor: "transparent",
                            color: 'rgba(255,255,255,0.05)'
                        }

                    }],

                    xAxes: [{
                        barPercentage: 1.6,
                        gridLines: {
                            drawBorder: false,
                            color: 'rgba(255,255,255,0.1)',
                            zeroLineColor: "transparent"
                        },
                        ticks: {
                            display: false,
                        }
                    }]
                },
            }
        });
    }
    
    function createPriceChart(){

          var speedCanvas = document.getElementById("speedChart");

        var dataFirst = {
            data: [0, 19, 15, 20, 30, 40, 40, 50, 25, 30, 50, 70],
            fill: false,
            borderColor: '#fbc658',
            backgroundColor: 'transparent',
            pointBorderColor: '#fbc658',
            pointRadius: 4,
            pointHoverRadius: 4,
            pointBorderWidth: 8,
        };

        var dataSecond = {
            data: [0, 5, 10, 12, 20, 27, 30, 34, 42, 45, 55, 63],
            fill: false,
            borderColor: '#51CACF',
            backgroundColor: 'transparent',
            pointBorderColor: '#51CACF',
            pointRadius: 4,
            pointHoverRadius: 4,
            pointBorderWidth: 8
        };

        var speedData = {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [dataFirst, dataSecond]
        };

        var chartOptions = {
            legend: {
                display: false,
                position: 'top'
            }
        };

        var lineChart = new Chart(speedCanvas, {
            type: 'line',
            hover: false,
            data: speedData,
            options: chartOptions
        });
    }

   



    $(document).ready(function () {

        getTotalAction();
        getQuantityByProduct();
        getAmountChart();
        getPriceChart();


    })
</script>
