@model TahilBorsaMS.Models.Entity.tblProduct


@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<form class="form-group container" method="post">
    
    <div>
        <label>Ürün Adı</label>
        <input class="form-control" type="text" name="Id" />
    </div>
    <div class="mt-1">
        <button class="btn btn-outline-success" type="submit" id="Id">Ürün Ekle</button>
    </div>
    
</form>

