@using TahilBorsaMS.Models.Entity  @*@@// MODELİN İÇİNDEKİ DEĞERLERE ULAŞIYORUZ*@
@model List<tblProductName>
@*@@// BU MODEL ARACILIGIYLADA TABLOYA ULASACAZ.*@

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>
                Ürün Id
            </th>
            <th>
                Ürün Adı
            </th>
            <th>
                Ürün Hakkında Bilgiler
            </th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Information</td>
                <td><a href="~/Product/DeleteProduct/@product.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="~/Product/CallProduct/@product.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="~/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>
</div>

