@using TahilBorsaMS.Models.Entity  @*@@// MODELİN İÇİNDEKİ DEĞERLERE ULAŞIYORUZ*@
@model List<tblProduct>
@*@@// BU MODEL ARACILIGIYLADA TABLOYA ULASACAZ.*@

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <h2>Borsamızda İşlem Gören Ürünler</h2>
    <br />
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var product in Model)
        {

            <div class="card  mb-3">
                <img src="@product.Photo" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Information</p>

                </div>
                <p class="card-text"><small class="text-muted">İşlem Numarası:"@product.Id"</small></p>
                <div class="btn-group m-1">
                    <a href="~/Product/DeleteProduct/@product.Id" class="btn btn-outline-danger">Sil</a>
                    <a href="~/Product/CallProduct/@product.Id" class="btn btn-outline-success">Güncelle</a>
                </div>
            </div>

        }
    </div>
    <a href="~/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>
</div>

