
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">


    <h2>İşlem Bekleyen Liste</h2>
    <table class="table table-bordered table-striped">
        <tr class="table-info">
            <th>Giriş Id</th>
            <th>Çiftçi Id</th>
            <th>Ürün Adı</th>
            <th>Ürün Giriş Tarihi</th>
            <th>Besin Değerini Gir</th>
        </tr>

      <tbody>

      </tbody>

    </table>


    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="~/Labaratuar/LabDataList/">Geçmiş Veriler</a>
    </div>

</div>