@{
    ViewData["Title"] = "Tumsehirler";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Tumsehirler</h1>

<select id="cityDropdown">
    <option value="">Select a city</option>
</select>


<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://localhost:7234/api/City/TumIller",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if(response.success){

                  
                    console.log("veri :", response.data)
                    var cityDropdown = $("#cityDropdown");

                    $.each(response.data, function (index, city) {
                        cityDropdown.append($("<option>").val(city.id).text(city.name));
                    });
                  
                }else
                {
                    alert(response.message);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Error:", XMLHttpRequest, textStatus, errorThrown);
            }
        });
    });
</script>